In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [43]:
# Read CSV File
products_data = pd.read_csv('Products.csv')
products_data.head(8)

,Asin,Title,Price,Sold by,Review Count,Rating,Date
0,B09XN86NH2,ASUS Touchscreen Chromebook Flip C433TA 14-inc...,299.00,Amazon,300,4.5,15 Mar. 2022
1,B09MLBQQZ5,14'' Laptop Computer Intel Core i5-8279U Proce...,379.99,OakTech,20,3.5,26 Nov. 2021
2,B08T9G5CPD,Razer Blade Pro 17 - 17.3 Inch Pro Gaming Lapt...,1509.92,Amazon,41,4.0,26 Jan. 2021
3,B09GY936QD,Samsung Galaxy Book Go 14 Inch with Windows 11...,269.00,Amazon,22,4.4,22 Dec. 2021
4,B08CN556LT,Lenovo IdeaPad 3i 17IML05 17.3 HD+ Laptop Inte...,429.52,Amazon,1,4.0,5 Oct. 2021
5,B09JZFDZBL,Acer Aspire Vero AV15-51 15.6 inch Laptop - (I...,823.19,Amazon,72,4.6,21 Oct. 2021
6,B083DQPPT3,"CHUWI Herobook Pro Laptop, 14 inch 8GB RAM 256...",199.00,"BIG FAN TRADING CO., LTD",758,3.9,6 Jan. 2021
7,B09MFBWCJ6,"HOARDER Windows 10 Laptop 15.6 Inch Computer,8...",369.00,TOPOSH Official Store,2,5.0,23 Nov. 2021

### What is the lowest and highest price in the products?

In [ ]:
prices = products_data['Price']
prices = prices.astype('Float64')

In [ ]:
low_price = prices.min()
#low_price_idx = prices.idxmin()
products_data[prices == low_price]

In [ ]:
high_price = prices.max()
#high_price_idx = prices.idxmax()
products_data[prices == high_price]

In [ ]:
print(f'Products Range price from {low_price} to {high_price}')

### What are the products price less than or equal to 1000?

In [ ]:
products_data[prices <= 1000]

### What are the products with the lowest and highest rating?

In [ ]:
rating = products_data['Rating']
min_rating = rating.min()
max_rating = rating.max()

In [ ]:
products_data[rating == min_rating]

In [ ]:
products_data[rating == max_rating]

### What is the products for each seller, except for Amazon?

In [ ]:
sellers = products_data['Sold by']
products_data[sellers != 'Amazon']

### What is the number of products for each seller?

In [ ]:
sellers.value_counts()

### Is there a relationship between price and rating?

### Is there a relationship between price and Review Count?

### What is the average rating of the products?

In [ ]:
print(f'{(rating.mean()):.2f}')

### What is the average Price of the products?

In [ ]:
print(f'{(prices.mean()):.2f}')

### What is the most popular product?

In [44]:
review_count = products_data['Review Count']
popular = products_data[review_count == review_count.max()]
popular

,Asin,Title,Price,Sold by,Review Count,Rating,Date
78,B07RF1XD36,"Acer Aspire 5 Slim Laptop, 15.6 Full HD IPS Di...",6.47,Amazon,34602,4.5,11 Nov. 2019

### What is the older and newer product?

In [ ]:
## ???

### Convert currency from british pound to dollar?

In [48]:
# 1 british pound ==> 1.24 Dollor
prices_dollor = prices * 1.24
products_data['Price'] = prices_dollor
products_data.head()

,Asin,Title,Price,Sold by,Review Count,Rating,Date
0,B09XN86NH2,ASUS Touchscreen Chromebook Flip C433TA 14-inc...,370.7600,Amazon,300,4.5,15 Mar. 2022
1,B09MLBQQZ5,14'' Laptop Computer Intel Core i5-8279U Proce...,471.1876,OakTech,20,3.5,26 Nov. 2021
2,B08T9G5CPD,Razer Blade Pro 17 - 17.3 Inch Pro Gaming Lapt...,1872.3008,Amazon,41,4.0,26 Jan. 2021
3,B09GY936QD,Samsung Galaxy Book Go 14 Inch with Windows 11...,333.5600,Amazon,22,4.4,22 Dec. 2021
4,B08CN556LT,Lenovo IdeaPad 3i 17IML05 17.3 HD+ Laptop Inte...,532.6048,Amazon,1,4.0,5 Oct. 2021

### Determine Brand for each Products?

In [62]:
brands = {
    'asus': 0,
    'acer': 0,
    'msi': 0,
    'razer': 0,
    'samsung': 0,
    'microsoft': 0,
    'lenovo': 0,
    'dell': 0,
    'hp': 0,
    'other': 0,
}
laptop_titles = products_data['Title']

for i in range(0, laptop_titles.size):
    flag = True
    for k in brands.keys():
        if(k in laptop_titles[i].lower()):
            brands[k] += 1
            flag = False
            break
    if(flag):
        brands['other'] += 1

print(brands)

{'asus': 62, 'acer': 20, 'msi': 18, 'razer': 9, 'samsung': 8, 'microsoft': 16, 'lenovo': 53, 'dell': 23, 'hp': 22, 'other': 76}